[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
django = "*"
djangorestframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
